@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.heading {
  text-align: center;
}

#restart {
  cursor: pointer;
  border: none;
}

div.main-container {
  border-bottom: 1px solid;
  margin: 20px 100px;
  box-shadow: 10px 10px 10px 10px aliceblue;
  position: relative;
}

.users {
  display: flex;
  justify-content: space-evenly;
  border: 5px solid black;
  border-radius: 20px;
}

.player1,
.player2,
.draw {
  font-weight: bold;
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  padding-left: 0px;
}

.player1Name,
.player2Name {
  color: black;
}

.gameGrid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
  align-items: center;
  justify-content: center;
  padding-left: 25%;
  padding-right: 25%;
}

.gameGrid .grid {
  flex: 0 0 32%;
  max-width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: aliceblue;
  cursor: pointer;
}

div.grid {
  display: flex;
  font-size: 30px;
  font-weight: 900;
  border: 1px solid black;
}

div.grid:hover,
div.grid:focus {
  background-color: black;
  color: aliceblue;
}

/* The Modal (background) */
.modal1,
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-player1,
.modal-content-player2 {
  background-color: #fefefe;
  margin: auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 30px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.myButton {
  background-color: #010d0f;
  border-radius: 28px;
  border: 1px solid;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px black;
  margin: 20px 0;
}
.myButton:hover {
  background-color: white;
  color: black;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.selectWeaponp1,
.selectWeaponp2 {
  margin: 10px 0;
}
@media (min-width: 1620px) {
  .gameGrid {
    padding-left: 30%;
    padding-right: 30%;
  }
}

@media (max-width: 1330px) {
  .gameGrid {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (max-width: 1120px) {
  .gameGrid {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media (max-width: 975px) {
  .gameGrid {
    padding-left: 0%;
    padding-right: 0%;
  }
}

@media (max-width: 1430px) {
  .gameGrid {
    padding-left: 20%;
    padding-right: 20%;
  }
}
